body
  line-height: 1.4em
  background: $color-background
  color: $color-text
  min-width: 230px
  max-width: 800px
  margin: 0 auto

#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.app
  &__title
    margin-top: 130px
    text-align: center

  &__env
    margin-bottom: 20px
    text-align: center